
.App {
  text-align: center;
}

.amrutum-nav{
  background-color: rgba(255, 247, 226, 1);
}
.design{
  background-color:rgba(234, 242, 234, 1);
  width:100%;
  height: 241px;
  overflow: hidden;
  
}
.circle{
width: 184px;
height: 184px;
top: 104px;
left: 1071px;
background-color: rgba(207, 235, 207, 0.5);
border-radius: 130px;


}
.circle2{
  width: 184px;
height: 184px;
bottom: 150px;
left: 109px;
background-color: rgba(207, 235, 207, 0.5);
border-radius: 130px;
}
.search-box{
  left: 400px;
  top: 29px;
  width: 60%;
  height: 300px;
  align-items: center;

}
.my-btn{
  background-color: rgba(243, 243, 243, 1);

}
.fee-slot{
  font-family: Arial, Helvetica, sans-serif;
height: 60px;
width:110px;
border: 1px ridge black;
border-radius: 10px;
font-size: x-small;
margin: 2px;
padding: 5px;
}
.my-card{
  
  height: 560px;
  padding:"0px 100px 0px 100px";
  background-color:rgba(255, 247, 226, 1);
  border:1px ridge;
  border-radius: 20px;
  ;
}